html {
    background-color: #5095BE;
    color: #F8F4E3
}

main {
  margin-left: 5px;
}

h4 {
    margin-block-start: 0;
    text-align: center;
}

h5 {
    margin-top: 0px;
    margin-bottom: 0px;
}

section {
    margin: 0 0 0 0;
}

form {
    border-radius: 25px;
    margin: 0 10px 0 10px;
    max-width: 405px;
    background-color: #5BC0EB;
    color: black;
}

label, input {
    display: inline-block;
}

input {
    background-color: #F8F4E3;
    border: 0px solid black;
}

label {
    text-align: right;
    margin: 0 0 0 5%;;
    min-width: 80px;
}

label+input {
    margin: 0 10% 0 4%;
}

button {
    background-color: #F8F4E3;
    border: 0px solid black;
    border-radius: 15px;
}

.button {
    padding: 0 0 5px 0;
    text-align: center;
}

.deletePatron, .deleteBook, .submitPatron, .submitBook {
    border-radius: 50%;
}

.submitPatron, .submitBook {
    padding-top: 2.5px;
    padding-bottom: 2.5px;
}

.addItem_error_group {
    margin: 0 0 0 5%;
    padding: 0 0 5px 0;
}

.errorTop {
    align-self: center;
    background-color: #5BC0EB;
    border-radius: 25px;
    color: black;
    margin: auto;
    margin-top: 10px;
    padding: 5px;
    text-align: center;  
    width: 50%;

}

.noChecks, .noResults {
    background-color: #456990;
    border-radius: 25px;
    padding: 10px;
    width: fit-content;
}